@import "../Variables/Variables.scss";

.feat{
 display: flex;
 margin: 100px 0px 100px 0px;
 justify-content: center;
}

.gpimg{
 border-top-right-radius: 10px;
 border-bottom-right-radius: 10px;
 height: 400px;
}


.circle{
 background-color: black;
 color: white;
 border-radius: 10px;
 font-family: $font;
 width: 1200px;
 height: 400px;
 display: flex;
 justify-content: space-between;

}

.textside{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-left: 180px;
}

.textside h1{
font-weight: bolder;
}

.textside div{
 margin-bottom: 10px;
}

.textside button{
margin-top: 20px;
padding: 10px 20px;
border-color: white;
border: 0px;
border-radius: 100px;
outline: none;
color: black;
display: flex; 
font-weight: bolder;
}
.contact{
 text-decoration: none;
 color: black;
}

.textside button:hover{
 opacity: 0.8;
}

.contact:hover{
 text-decoration: none;
 color: black;
}


@media only screen and (max-width: 769px) {

 .feat{
  margin: 100px 10px 100px 10px;
 }

 .textside{
  margin-left: 0;
  margin-bottom: 30px;
  margin-top: 10px;
 }

 .circle{
 flex-direction: column;
 height: 100%;
 }

 .gpimg{
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  height: 100%;
 }
}