@import "../Variables/Variables.scss";

.navbar{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.topnav{
 display: flex;
 justify-content: space-between;
 align-items: space-between;
 flex-direction: column;
}

.logo {
 border-radius: 7px;
}

.inputnav{
 width: 400px;
 height: 45px;
 box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04),
 0 3px 6px 0 rgba(25, 32, 36, 0.16);
 border-radius: 5px;
 border-color:white;
 border-style: solid;
 font-family: $font;
}

.searchbox2{
 overflow: hidden;
 overflow-y: auto;
 background-color: white;
 height: 200px;
 width: 400px;
 border-bottom-left-radius: 10px;
 box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04),
 0 3px 6px 0 rgba(25, 32, 36, 0.16);
 margin-top: -3px;
}


@media only screen and (max-width: 768px) {

 .inputnav{
  width: 250px;
  
 }

 .logo{
  height: 50px;
 }

 .searchbox2{
  width: 250px;
 }

}


